body {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}
body select:not(:last-of-type) {
  margin-bottom: 50px;
}
body input {
  margin-bottom: 50px;
}
.select {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 100px;
  margin-bottom: 30px;
}
.text {
  margin-right: 20px;
}
.text p {
  margin-bottom: 53px;
  margin-top: 0;
}
button {
  padding: 10px;
  border: 1px solid;
  background-color: rgb(175, 170, 170);
  font-weight: 700;
  cursor: pointer;
}
№form {
  display: flex;
  flex-direction: column;
}
.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.button a {
  margin-right: 30px;
  text-decoration: none;
  border: 1px solid;
  background-color: rgb(175, 170, 170);
  padding: 9px;
  color: black;
  font-weight: 700;
}
